{%if SWITCH.INTERFACES%}
{%for INTERFACE in SWITCH.INTERFACES %}
!
interface {{ INTERFACE.ETHERNET }}
	channel-group 1000 mode active
{%endfor%}
!
interface Port-Channel1000
	switchport mode trunk
!
vlan 4093
!
interface Vlan4093
	ip address {{ SWITCH.IP }}
!
{%endif%}